@import "../../../styles/scss--variables.scss";

.card:nth-child(1),
.card:nth-child(2) {
  flex-basis: 550px;
  height: 600px;
  @media screen and (max-width: 1250px) {
    flex-basis: 300px;
    flex-shrink: 0;
    height: 500px;
  }
}

.card {
  flex-basis: 31%;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  background-color: $darkgray_text;

  .card__image {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .card__title {
    font-size: $t4_font-size;
    font-weight: $t4_font-weight;
    line-height: $t4_line-height;
  }
  .card__subtitle {
    font-size: $t6_font-size;
    font-weight: $t6_font-weight;
    line-height: $t6_line-height;
  }

  @media screen and (max-width: 1250px) {
    flex-basis: 300px;
    flex-shrink: 0;
    height: 500px;
  }
}
