// Colors
$color_babyBlue: #93C4DB;
$color_darkblue: #23245A;
$color_white: #FFFFFF;
$color_lightgray: #ECECEC;
$color_dark: #252525;
$color_darkgray: #505050;

// Text Colors
$dark_text: #252525;
$darkgray_text: #505050;
$gray_text: #767676;
$mediumgray_text: #C4C4C4;
$lightgray_text: #EAEAEA;
$darkwhite_text: #FCFCFC;
$white_text: #FFFFFF;
$darkblue_text: #1B1C52;

// Font Sizes
$t1_font-size: 40px;
$t2_font-size: 32px;
$t3_font-size: 28px;
$t4_font-size: 24px;
$t5_font-size: 20px;
$t6_font-size: 18px;
$body_font-size: 16px;
$little_font-size: 14px;

// Font Weight
$t1_font-weight: 700;
$t2_font-weight: 700;
$t3_font-weight: 700;
$t4_font-weight: 700;
$t5_font-weight: 600;
$t6_font-weight: 600;
$body_font-weight: 500;
$thin_font-weight: 400;

// Line Height
$t1_line-height: 120%;
$t2_line-height: 120%;
$t3_line-height: 120%;
$t4_line-height: 120%;
$t5_line-height: 130%;
$t6_line-height: 130%;
$body_line-height: 150%;
