@import '../../styles/scss--variables.scss';

.product {
  display: flex;
  gap: 50px;
  max-width: 850px;
  margin: 60px auto;
  width: 95%;

  .product__imageWraper {
    flex-basis: 300px;
    flex-shrink: 0;
    padding: 20px;
    z-index: -1;

    img {
      width: 100%;
    }

    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .product__imageWraper__mobile{
    display: none;
    text-align: center;
    height: 300px;
    flex-shrink: 0;
    padding: 20px;
    z-index: -1;

    img {
      height: 100%;
    }

    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    gap: 20px;
    padding: 0 10px;

    .product__title {
      margin: 0;

      .product__id{
        display: inline-block;
        color: $gray_text;
        font-size: $body_font-size;
        font-weight: $thin_font-weight;
        width: max-content;
        margin-left: 10px;
      }
    }

    .product__category{
      color: $darkgray_text;
      font-size: $t6_font-size;
      font-weight: $t6_font-weight;
      line-height: $t6_line-height;
    }

    .product__description{
      margin: 0;
      color: $dark_text;
      font-size: $body_font-size;
      font-weight: $thin_font-weight;
    }

    .product__price{
      color: $darkblue_text;
      font-size: $t5_font-size;
      font-weight: $t5_font-weight;
      line-height: $t5_line-height;
    }

    .product__button{
      width: 100%;
      background-color: $color_darkblue;
      color: $white_text;
      border: none;
      padding: 10px;
      font-size: $body_font-size;
      font-weight: $body_font-weight;
      line-height: $body_line-height;
      cursor: pointer;
    }


    .product__stars{
      display: flex;
      align-items: center;

      .product__semistar{
        transform: rotateY(180deg);
      }

      span{
        margin-left: 8px;
        color: $darkblue_text;
        font-size: $little_font-size;
        font-weight: $thin_font-weight;
      }
    }
  }

  @media screen and (max-width: 750px) {
    margin-top: 30px;
  }
}
