.homePicture{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2da44bd3-f02f-4d27-9d82-40861326e888/ddxbgl7-ff01b8d7-e887-4733-b12c-ffb64e51ae29.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJkYTQ0YmQzLWYwMmYtNGQyNy05ZDgyLTQwODYxMzI2ZTg4OFwvZGR4YmdsNy1mZjAxYjhkNy1lODg3LTQ3MzMtYjEyYy1mZmI2NGU1MWFlMjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.F2RmXEBVzZ1F7TuVTAKUMLQd7xZyhTtqIqKqQEtfAXU');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
  
  height: 600px;
  margin-top: -140px;

  @media screen and (max-width: 1050px) {
    background-position: 50% 30%;
  }
}