@import "../../styles/scss--variables.scss";

.header {
  background-color: transparent;
  padding: 0 25px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > :first-child {
      display: flex;
      align-items: center;

      > figure {
        margin: 0;
      }
    }

    .header__nav__mobile {
      display: none;
      background-color: $color_white;
      position: absolute;
      left: 0;
      top: 0;
      width: 90vw;
      max-width: 500px;
      height: 100vh;
      z-index: 1;
      padding: 0 0 0 30px;
      box-shadow: 0 5px 32px rgb(00, 00, 00, 0.5);

      @media screen and (min-width: 1150px) {
        display: none !important;
      }
    }

    .header__user {
      display: flex;
      align-items: center;
      gap: 10px;

      .header__menuSandwich {
        display: none;
        @media screen and (max-width: 1150px) {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
