

.banner{
  background-color: rgb(196, 57, 57);
  border-radius: 10px;
  padding:60px ;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-top: -90px;
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.15), 0px 12px 32px rgba(0, 0, 0, 0.2);
}